body {
    text-align: center;
    background: url("https://upload.wikimedia.org/wikipedia/commons/e/e3/NewYork_LibertyStatue.jpg");
    background-size: cover;
    background-position: center;
    color: black;
    font-family: helvetica;
  }
  p {
    font-size: 22px;
    color: black;
    margin-left: 50px;
    margin-right: 50px;
  }
  img {
    position: center;
    height: 20%;
    width: 20%;
  }
  div.Navbar  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #dddddd;
  }
  li {
    display: inline;
  }
  .fa {
      padding: 20px;
      font-size: 30px;
      width: 50px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
  }

  .fa:hover {
      opacity: 0.7;
  }

  .fa-facebook {
      background: #3B5998;
      color: white;
  }

  .fa-twitter {
      background: #55ACEE;
      color: white;
  }

img:hover {
  width: 70%;
  height: 70%;
}
